# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
mobile_app/android/.gradle/
mobile_app/android/app/build/
mobile_app/android/local.properties
mobile_app/android/key.properties

# iOS
mobile_app/ios/Pods/
mobile_app/ios/.symlinks/
mobile_app/ios/Flutter/Flutter.framework
mobile_app/ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
.env
*.keystore
*.jks
